<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings"
       type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ConquiánCliente.Properties.Settings"
      type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      allowExeDefinition="MachineToLocalUser"
      requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<userSettings>
		<ConquiánCliente.Properties.Settings>
			<setting name="languageCode" serializeAs="String">
				<value>es-MX</value>
			</setting>
		</ConquiánCliente.Properties.Settings>
	</userSettings>

	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_ILobby">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IFriendList">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ILogin">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ISignUp">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IUserProfile">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IInvitationService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>

		<client>
   <endpoint address="net.tcp://localhost:9001/Conqui%C3%A1nServidor/Lobby/"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobby"
    contract="ServiceLobby.ILobby" name="NetTcpBinding_ILobby">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:9001/Conqui%C3%A1nServidor/FriendList/"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendList"
    contract="ServiceFriendList.IFriendList" name="NetTcpBinding_IFriendList">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:9001/Conqui%C3%A1nServidor/Login/"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILogin"
    contract="ServiceLogin.ILogin" name="NetTcpBinding_ILogin">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:9001/Conqui%C3%A1nServidor/SignUp/"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISignUp"
    contract="ServiceSignUp.ISignUp" name="NetTcpBinding_ISignUp">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:9001/Conqui%C3%A1nServidor/UserProfile/"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserProfile"
    contract="ServiceUserProfile.IUserProfile" name="NetTcpBinding_IUserProfile">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:9001/Conqui%C3%A1nServidor/InvitationService/"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInvitationService"
    contract="ServiceInvitation.IInvitationService" name="NetTcpBinding_IInvitationService">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
</configuration>