<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ConquiánCliente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<userSettings>
		<ConquiánCliente.Properties.Settings>
			<setting name="languageCode" serializeAs="String">
				<value>es-MX</value>
			</setting>
			<setting name="MusicVolume" serializeAs="String">
				<value>50</value>
			</setting>
		</ConquiánCliente.Properties.Settings>
	</userSettings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="SimpleTcpBinding">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="ReliableTcpBinding" closeTimeout="00:00:20" openTimeout="00:00:20"
				 receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<reliableSession inactivityTimeout="00:01:30" enabled="true" />
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IFriendList">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IGame">
					<reliableSession inactivityTimeout="00:01:30" enabled="true" />
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IGuestInvitation">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IInvitationService">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ILobby">
					<reliableSession inactivityTimeout="00:01:30" enabled="true" />
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ILogin">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IPasswordRecovery">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IPresence">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ISignUp">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IUserProfile">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>

		<client>
			<endpoint address="net.tcp://192.168.100.119:9001/Conqui%C3%A1nServidor/FriendList/"
			 binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding"
			 contract="ServiceFriendList.IFriendList" name="NetTcpBinding_IFriendList">
				<identity>
					<dns value="192.168.100.119" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://192.168.100.119:9001/Conqui%C3%A1nServidor/GameService"
			 binding="netTcpBinding" bindingConfiguration="ReliableTcpBinding"
			 contract="ServiceGame.IGame" name="NetTcpBinding_IGame">
				<identity>
					<dns value="192.168.100.119" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://192.168.100.119:9001/Conqui%C3%A1nServidor/GuestInvitation/"
			 binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding"
			 contract="ServiceGuestInvitation.IGuestInvitation" name="NetTcpBinding_IGuestInvitation">
				<identity>
					<dns value="192.168.100.119" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://192.168.100.119:9001/Conqui%C3%A1nServidor/InvitationService/"
			 binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding"
			 contract="ServiceInvitation.IInvitationService" name="NetTcpBinding_IInvitationService">
				<identity>
					<dns value="192.168.100.119" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://192.168.100.119:9001/Conqui%C3%A1nServidor/Lobby/"
			 binding="netTcpBinding" bindingConfiguration="ReliableTcpBinding"
			 contract="ServiceLobby.ILobby" name="NetTcpBinding_ILobby">
				<identity>
					<dns value="192.168.100.119" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://192.168.100.119:9001/Conqui%C3%A1nServidor/Login/"
			 binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding"
			 contract="ServiceLogin.ILogin" name="NetTcpBinding_ILogin">
				<identity>
					<dns value="192.168.100.119" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://192.168.100.119:9001/Conqui%C3%A1nServidor/PasswordRecovery/"
			 binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding"
			 contract="ServicePasswordRecovery.IPasswordRecovery" name="NetTcpBinding_IPasswordRecovery">
				<identity>
					<dns value="192.168.100.119" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://192.168.100.119:9001/Conqui%C3%A1nServidor/Presence/"
			 binding="netTcpBinding" bindingConfiguration="ReliableTcpBinding"
			 contract="ServicePresence.IPresence" name="NetTcpBinding_IPresence">
				<identity>
					<dns value="192.168.100.119" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://192.168.100.119:9001/Conqui%C3%A1nServidor/SignUp/"
			 binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding"
			 contract="ServiceSignUp.ISignUp" name="NetTcpBinding_ISignUp">
				<identity>
					<dns value="192.168.100.119" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://192.168.100.119:9001/Conqui%C3%A1nServidor/UserProfile/"
			 binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding"
			 contract="ServiceUserProfile.IUserProfile" name="NetTcpBinding_IUserProfile">
				<identity>
					<dns value="192.168.100.119" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>